<h1>New game and Person</h1>

<form class="form" action="/addGameAndPerson" method="post">
  <label for="profileLink" class="form-item">
    Please input your steam profile link: <br>
    <input type="text" name="profileLink" required>
  </label>
  {{!-- or call the api to get name and username from user using profileLink --}}
  <br>
  <label for="name" class="form-item">
    What is your name: <br>
    <input type="text" name="name" required>
  </label>  
<br>
  <label for="username" class="form-item">
    What is your username: <br>
    <input type="text" name="username" required>
  </label> 
<br>
  <label for="title" class="form-item">
    What is the title of the game: <br>
    <input type="text" name="title" >
  </label>  
<br>
  <label for="description" class="form-item">
    What is the description of the game:  <br>
    <input type="text" name="description" >
  </label> 
<br>
    <label for="time_played" class="form-item">
    What is your time played in the game?: <br>
    <input type="text" name="time_played" >
  </label> 
  <br>
  <label for="recent_reviews" class="form-item">
    What are the recent reviews for the game: <br>
    <input type="text" name="recent_reviews" >
  </label> 
  <br>
  <label for="all_reviews" class="form-item">
    What are the overall reviews for the game: <br>
    <input type="text" name="all_reviews" >
  </label> 
<br>
  <input type="submit" name="" value="Submit">
</form>
