<h1>We are finding games in common</h1>

<h3>Please enter yours and at least one other persons steam profile link</h3>


























{{!-- 
$(document).ready(function(){
   $( ".add-row" ).click(function(){
      var $clone = $( "ul.personal-details" ).first().clone();
      $clone.append( "<button type='button' class='remove-row'>-</button>" );
      $clone.insertBefore( ".add-row" );
   });
  
   $( ".form-style-9" ).on("click", ".remove-row", function(){
      $(this).parent().remove();
   });
}); --}}