<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
      
    {{#each users}}
      <li> <a href="/games/{{id}}">{{name}}</a></li>
    {{/each}}
    <br>
    <a href="/addGame">Add a game</a>
    <br>
    <a href="/addGameAndPerson">Add a game and a person</a>
    <br>
    <a href="/findCommonGames">Find games in common</a>
    <br>
    </ul>
  </body>
</html>
